.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10;
    .overlay{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 11;
    }
    .box {
        position: absolute;
        z-index: 12;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        height: 250px;
        background-color: white;

        &__title {
            border-bottom: 1px solid grey;

            &-text {
                text-align: center;
                color: black;
                font-size: 32px;
            }
        }

        &__btn {
            display: flex;
            justify-content: center;
            height: 50px;
            &-cancel {
                background-color: rgba(0, 128, 0, .9);
                width: 50%;
                height: 100%;
                text-align: center;
                line-height: 50px;
                display: inline-block;
                transition: .5s;
                cursor: pointer;
                &:hover{
                    background-color: rgba(0, 128, 0, 1);
                    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, .3);
                }
            }

            &-delete {
                background-color: rgba(255, 0, 0, .9);
                line-height: 50px;
                width: 50%;
                height: 100%;
                text-align: center;
                transition: .5s;
                cursor: pointer;
                &:hover{
                    background-color: rgba(255, 0, 0, .7);
                    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, .3);
                }
            }
        }
    }
}